html {
	width: 100%;
	height: 100%;
}
body {
	background-size: cover;
	background-repeat: no-repeat;

	background-image: 
	linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
	url(https://cdnb.artstation.com/p/assets/images/images/005/152/049/original/james-licuanan-ekko-quick01.gif?1488872255);
	font-family: 'Staatliches', cursive;

}
.container {
	flex-flow: wrap column;
	justify-content: center;
	text-align: center;
	justify-content: flex-end;
}
#centralizer {
	margin-top: 18%;
	color: white;
	text-shadow: 1px 1px 10px rgba(200,200,200,0.5);
} 
.title {
	font-size: 7em;
}
.phrase {
	font-size: 3em;	
}
.description {
	font-size: 1.2em;
}
#scale1 {
	transition: 1s;
	text-decoration: underline;
}
#scale1:hover {
	transform: scale(1.1);
	transition: 1s;
}
#new {
	text-shadow: none;
	transition: 0.2s;
}
#new:hover {
	color: #ddd;
	transition: 0.2s;
	background-color: #cc9900;
}
#centralizer > p:nth-child(5) a {
	margin: 10px;
}